#mapaDesenho {
    height: 450px; /* altura fixa ok */
    width: 100%; /* IMPORTANTÍSSIMO dentro do modal */
    display: block;
  }

  .modal-body {
    overflow: hidden;
  }
  .modal {
    z-index: 2000 !important;
  }
  .modal-backdrop {
    z-index: 1990 !important;
  }
