/* =========================================
   RESET GLOBAL
   ========================================= */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
  background: var(--color-bg-body);
  color: var(--color-text-main);
  scroll-behavior: smooth;
}